<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="Windows-1251">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>File managing</title>
</head>
<body>
<div><a>Please choose option:</a></div>
<div><a href="/PSLab/get_info">Information about data in file</a></div>
<div><a href="/PSLab/check_varified">Print data from file</a></div>
<div><a href="/PSLab/add_lines">Add something</a></div>
<div><a href="/PSLab/ex_search">Search</a></div>
<div><a href="/PSLab/delition">Delete file</a></div>
<div><a href="/PSLab/tomain">Return to previous menu</a></div>
</body>
</html>