<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="Windows-1251">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Verification</title>
</head>
<body>
<p>Please enter the verification code:</p>
<form action="/PSLab/check-verificating" method="post">
    <ul>
        <li>
            <label for="code">Code:</label>
            <input type="text" id="code" name="code">
        </li>
        <li class="form_button">
            <button type="submit">Submit</button>
        </li>
    </ul>
</form>
<div><a href="/PSLab/exact_main">Return to previous menu</a></div>
</body>
</html>